/**
  * John Barrios and Nishan Shrestha
  * styles.css
  * 
  */


  body{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: #808000;
  }
  
  #submit{
    background-color: #e335ec;
    border-style: outset;
    font-weight: bold;
  }
  #submit:hover{
    color: aqua;
    background-color: #008080;
  }

